$primary-color: #FDBB6F;
$secundary-color: #FDDE6F;
$third-color: #FD976F;
$low-color: #F2F2F2;
$white-color: #FFFFFF;
$dark-color: black;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
    background-color: $low-color;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    &, th, td {
        border: 1px solid #B9B9B9;
    }
    thead {
        background-color: $third-color;
        color: $white-color;
    }
}

.button {
    color: $white-color;
    border-radius: 8px;
	border: none;
	width: 100%;
	cursor: pointer;
    padding: 8px;
	font-size: 16px;
	font-weight: bold;
	height: 36px;
    text-align: center;

    &-primary {
        background-color: $third-color;
    }

    i {
        margin-right: 4px;
    }
}

.text-center {
    text-align: center;
}

@mixin center-vertical-flex {
    display: flex;
    align-items: center;
}

@mixin stars($fontSize) {
    $rating: 2.3;
    $percent: calc($rating / 5 * 100%);
    font-size: $fontSize;
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;
    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, #fc0, $percent, #fff $percent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}