@use "src/styles/_Globals" as _Globals;

.card {
    background-color: _Globals.$secundary-color;
    max-width: 500px;
    margin: 24px auto;
    padding: 24px;
    border-radius: 15px;
    
    &-image {
        display: flex;
        justify-content: center;

        img {
            max-width: 90%;
            max-height: 350px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    &-content{
        .description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-title {
                text-align: left;
                h2 {
                    font-size: 16px;
                }

                h3 {
                    font-size: 14px;
                }
            }

            &-stars {
                @include _Globals.stars(30px);
            }
        }
    }
}