@use "src/styles/_Globals" as _Globals;

nav {
	justify-content: space-between;
	padding: 0 24px;
    background-color: _Globals.$primary-color;
    height: 60px;
    @include _Globals.center-vertical-flex;
    
    .menu {
        display: none;
    }

    .navbar-left {
        span {
            font-weight: 800;
            font-size: 24px;
        }
    }

    .navbar-center {
        height: 100%;

        ul {
            height: inherit;
            list-style: none;
            padding: 0;
            margin: 0;
            @include _Globals.center-vertical-flex;

            li {
                height: inherit;
                .navbar__link {
                    height: inherit;
                    text-decoration: none;
                    color: _Globals.$dark-color;
                    padding: 0 8px;
                    @include _Globals.center-vertical-flex;

                    &--active,
                    &:hover {
                        background: linear-gradient(rgba(_Globals.$dark-color, 0.25), rgba(_Globals.$dark-color, 0.25));
                    }
    
                }
            }
        }
    }

    .navbar-right {
        @include _Globals.center-vertical-flex;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            @include _Globals.center-vertical-flex;
            li {
                a {
                    text-decoration: none;
                    color: _Globals.$dark-color;
                    padding: 8px;
                }
            }
        }
    }

    @media (max-width: 640px) {
        .menu {
            display: block;
        }
        .navbar-center ul {
            display: none;
        }
        .navbar-email {
            display: none;
        }
    }
    
}