@use "src/styles/_Globals" as _Globals;

.turnos {
    
    div {
        height: 30px;
    }

    h3 {
        font-size: 16px;
        display: inline-block;
        height: 100%;
    }
}

.peticiones {
    &-otras,
    &-seleccionadas {
        h3 {
            font-size: 14px;
        }
    }
}