@use "src/styles/_Globals" as _Globals;

.section {
    margin: 24px auto;
    background-color: _Globals.$white-color;
    width: 90%;
    padding: 24px;
    border-radius: 15px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin: 12px 0;
    }
    
    &-title {
        font-weight: 700;
        font-size: 24px;
    }
    .carousel {
        .card~img {
            display: none;
        }
    }
}